<?xml version="1.0" encoding="UTF-8"?>

<!-- This file is used to activate the ros2control plugin for gazebo
so that we can start the interface between ros2control library and Gazebo -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="asrs_robot">

    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(find asrs_controller)/config/asrs_controller.yaml</parameters>
        </plugin>
    </gazebo>

</robot>